<% content_for :html_title do %>
  <%= _('New acessor') %>
<% end %>
<% content_for :controller_menu do %>
  <%= link_to _('Back'), accessors_path %>
<% end %>
<%= error_messages_for :accessor %>

<% form_for(@accessor) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } -%>
  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

