<h1><%= _('Editing Shop') -%></h1>

<%= error_messages_for :page %>

<% form_for(@shop) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } -%>

  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to _('Show'), @shop %> |
<%= link_to _('Shops list'), shops_path %> |
<%= link_to _('Destroy'), @shop, 
     :confirm => _('Are you sure you want to delete this shop and all it\'s items?'),
     :method => :delete 
%>


