<h1><%= _('Newsletter Templates') -%></h1>
<table width=100%>
    <tr>
        <th><%= _('Subject') -%></th>
        <th><%= _('Newsletter') -%></th>
        <th><%= _('Date') -%></th>
        <th>&nbsp;</th>
    </tr>
    
    <%= render :partial => @newsletter_templates -%>
    
</table>