<% content_for :html_title do %>
  <%= _('Editing user %s') % @user.longname %>
<% end %>
<% content_for :controller_menu do %>
    <%= link_to _('Show'), @user %>
    <%= link_to _('Back'), users_path %>
<% end %>
<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>
