<h1><%= _('Forgot password') -%></h1>

<% if @text == _('Try again') %>

<% form_tag do %>

  <p><b><%= _('Please enter your e-mail-address' ) -%></b>:
  <%= text_field_tag :email, '', :size => 30 -%>

  <%= submit_tag _('Send me my password') -%>
<% end %>

<% else %>
  <p><%= @text %></p>
<% end %>

