<% content_for :html_title do -%>
<%= _(' for %s') % @user.longname -%>
<%- end -%>
<h1><%= _('Welcome %{longname}') % {:longname => @user.longname} -%>!</h1>

<div>
    <h2><%= _('User') -%></h2>
    <%= error_messages_for :user %>
    <% form_for @user, :method => 'post' do |f| %>
      <%= render :partial => 'fields', :locals => { :f => f, :hide_admin_fields => true } %>
      <%= f.submit _('Save') -%>
    <% end %>
</div>
<% if @user.errors.length == 0 %>
  <div>
      <h2><%= _('Your newsletters') -%></h2>
      <%= render_component :controller => 'newsletter_subscriptions', :action => 'list_users_newsletters' %>
  </div>
<% end %>

<div>
    <h2><%= _('Session information') -%></h2>
    <%= _('You\'r logged in from <em>%{ip}</em> as <b>%{username}</b>') % { :ip => request.env['REMOTE_ADDR'], :username => @user.longname } %>
    <div style="font-size: 13px;">
    <br/><b><%= _('Your Browser') -%></b>  :<br/> <%= request.env['HTTP_USER_AGENT'] -%><br />
    <br/><b><%= _('Your IP:PORT') -%></b>  : <%= request.env['REMOTE_ADDR'] -%>:<%= request.env['REMOTE_PORT'] -%><br />
    <br/><b><%= _('Server IP:PORT') -%></b>: <%= request.env['SERVER_ADDR'] -%>:<%= request.env['SERVER_PORT'] -%><br />
    <br/><b><%= _('Session utok') -%></b>  : <%= user.utok -%><br />
    </div>
    <p><%= link_to _('Log out'), logout_path %></p>
</div>
