<% if not @posting.new_record? %>
  <div class='right_box_small'>
      <%=_('show this posting in page columns') -%>:<br /><br />
      <% PageColumn.find(:all,:order => 'title').each do |column| %>
        <div class='small_check_boxes'>
            <div style="display: table-row;">
              <div style="display: table-cell;">
                <%= check_box_tag 'posting[page_column_ids][]', column.id, @posting.page_columns.include?( column ) -%>
              </div>
              <div style="display: table-cell; padding-bottom: 10px;">
                <% if column.page %>
                 <%= link_to column.page.name+"<br/>"+column.title, show_page_page_path(column.page) -%>
                <% else %>
                 <%= column.title %>(<%= _('not assigned to a page') -%>)
                <% end %>
              </div>
            </div>
        </div>
      <% end %>
  </div>
<% end %>
<% if @column %>
  <div class='right_box_small'>
      <%= _('This posting will be auto-assigned to <br/><b>%s</b>') % @column.title %>
      <%= hidden_field_tag :auto_add_to_column, @column.id.to_s -%>
  </div>
<% end %>
<p>
  <b><%= _('Title') -%></b><br />
  <%= f.text_field :title, :size => 75 %>
</p>

<p>
  <b><%= _('Author') -%></b><br />
  <%= f.select :author_id, Author.find_all_by_user_id(user.id, :order => 'lastname').map { |a| [a.prename + " " + a.lastname, a.id] }  %>
</p>

<b><%= _('Read access restricted to ...') -%></b>(<%= @posting.restricted_to_function_id.inspect -%>)
  <%= f.select :restricted_to_function_id, function_selector -%>
  <br/><b><%= _('Edit access') -%></b>
  <br/><%= f.radio_button :allow_editing,  0 %>&nbsp;<%= _('By owner only') -%>
     <%= @posting.author.user.longname unless @posting.author.nil? -%>
  <br/><%= f.radio_button :allow_editing,  1 %>&nbsp;<%= _('By registered users')%>
  <br/><%= f.radio_button :allow_editing,  2 %>&nbsp;<%= _('By function members (as selected above)')%>
  <br/><%= f.radio_button :allow_editing,  99 %>&nbsp;<%= _('public writeable')%>
<p>
  <b><%= _('Body') -%></b><br />
  <%= f.text_area :body, :cols => 73, :rows => 20 %>
  <br/>
  <%= _('Truncate body in columndisplay to') -%><%= f.text_field :truncate_length, :size => 5 %><%= _('Characters') -%>
</p>


<p>
  <b><%= _('expires') %></b><br />
  <%= f.date_select :date_expires %>
</p>
