<h1>Editing event</h1>

<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } -%>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', list_events_path %>
