<h1><%= _('Editing columns of page <em>%s</em>') % @page.name -%></h1>
<% form_tag 'save_columns' do %>
  <% @page.page_columns.each do |column| %>
    <p><small><b>
        <%= _('Column-Title') -%> :</b> <%= text_field_tag 'titles['+column.id.to_s+']', column.title, :size => 40 -%><br />
        <%= _('Column position on page') -%>: <%= text_field_tag 'positions['+column.id.to_s+']', column.position.to_s, :size => 2 -%>
        <%= _('Max postings per page') -%>: <%= text_field_tag 'max_postings['+column.id.to_s+']', column.max_postings.to_s, :size => 3  -%>
        <br />
        <%= _('Layout (DIV-Tag)') -%>: <%= select_tag 'div_tags['+column.id.to_s+']', DivTag.find(:all,:order => 'name').map { |div_tag|
           selected = ( column.div_tag_id == div_tag.id ? ' SELECTED ' : '')
           "<option value='#{div_tag.id.to_s}' #{selected} >#{div_tag.name}</option>"
        } %>
        
        <%= _('Postings order') -%>: <%= select_tag 'default_order['+column.id.to_s+']', default_order_opts(column.default_order) -%> 
        <%= link_to_remote( _('ordering postings manualy...'),
              :update => 'postings_order',
              :url => { :controller => 'postings', :action => 'set_order', :page_column_id => column },
              :complete => "Element.show('postings_order');"
        ) %>   
    </small></p><hr>
  <% end %>
<div id='postings_order'><%= _('Click on <em>ordering postings manualy</em> for the column which you want to set postings order for.') -%></div>
<br/>
<%= submit_tag _('Save') -%> | 
<%= link_to _('Back'), show_page_page_path(@page) -%>
<% end %>
