<% content_for :html_title do %><%=h @page.name -%><% end %>
<% content_for :rss_link do %><%= link_to( icon('rss.png','Subscribe to RSS feed',24,12 ), formatted_postings_url(:rss) ) -%><% end %>
<% if granted_for? 'Edit layout' %>
  <%= render :partial => 'edit_layout_buttons' -%>
<% end %>
<% shadow_wrapper do %>
  <div style="<%= @page.div_tag.definition -%>">
    <% if @page.show_title %><h1><%=h @page.name %></h1><% end %>
    <% if @page.show_introduction %><div id='page_introduction'><%= interpret @page.introduction %></div><% end %>
    <% @page.page_columns.each do |column| %>
      <%= render :partial => 'page_column', :locals => { :column => column } -%>
    <% end %>
  </div>
<% end %>
