<% fn = "#{params[:filename] }"
   width = params[:width] || "640"
   height = params[:heigth] || "480"
   filetitle = File::basename(fn)
%>
<%  url = thumbnail_gallery_path(@gallery,:filename=>fn,:width=>width,:height=>height) %>
<% begin %>
  <div style='
	border-top: 50px solid black;
	border-bottom: 50px solid black;
	background: white;
	padding-bottom: 40px;'
  >
    <table width=100% height=<%= @gallery.web_height -%>>
        <tr>
            <td width=200 align=right valign=center height=<%= @gallery.web_height -%>>
               <%= 
                  thumbnail_url(@gallery,@prev_filename,
                                @gallery.thumb_width,@gallery.thumb_height,
                                "webview", @gallery.web_width,@gallery.web_height) if @prev_filename
                -%>
            </td>
            <td align=center valign=middle>
               <h1><%= filetitle -%></h1>
               <img src='<%= url -%>'>
            </td>
            <td width=200 align=left valign=center height=<%= @gallery.web_height -%>>
                 <%= 
                      thumbnail_url(@gallery,@next_filename,
                                    @gallery.thumb_width,@gallery.thumb_height,
                                    "webview",@gallery.web_width,@gallery.web_height) if @next_filename
                 -%>
            </td>
        </tr>
    </table>
  </div>
<% rescue %>
  ERROR GENERATING PICTURE 
  '<%= url -%>'
  '<%= fn -%>'
  <%= debug params -%>
<% end %>
<br/>
[<a href=# onclick="Element.hide('webview');"><%= _('close') -%></a>]