<h1>Editing collector</h1>

<%= error_messages_for :collector %>

<% form_for(@collector) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Groups</b><br />
    <%= f.text_field :groups %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Fields</b><br />
    <%= f.text_field :fields %>
  </p>

  <p>
    <b>Values</b><br />Please use , as delimiter<br/>
    <%= f.text_area :values %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @collector %> |
<%= link_to 'Back', collectors_path %>
