<table width=100%>
    <tr>
        <th width=120><%= _('Timestamp') -%></th>
        <th width=180><%= _('User/IP')   -%></th>
        <th width=150><%= _('Facility')   -%></th>
        <th><%= _('Entry')     -%></th>
    </tr>
    <%= render :partial => logs -%>
</table>