<% if granted_for? 'Edit layout' -%>
  <ul id="sortable_menu">
    <% Page.find_for_menu(get_language_code,user,request.env['SERVER_NAME']).map do |page| %>
      <li class='main_menu_item' id="item_<%= page.id -%>"># <%= link_to page.name, show_page_page_path(page) -%> | </li>
    <% end -%>
    <% if granted_for? 'Edit layout' %>
       | <%= render :partial => 'authenticate/hide_show_layout_admin' %>
    <% end %>
  </ul>
  <%= sortable_element('sortable_menu', :url => {:controller => :pages, :action => :update_positions } ) -%>
  
<% else %>
    <% Page.find_for_menu(get_language_code,user,request.env['SERVER_NAME']).map do |page| %>
      <div class="horizontal_menu_item"><%= link_to page.name, show_page_page_path(page) -%></div>
    <% end %>
    <% if granted_for? 'Edit layout' %>
       || <%= render :partial => 'authenticate/hide_show_layout_admin' %>
    <% end %>
<% end %>


