<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- RAILS 2.0 APPLICATION BY Andreas Altendorfer
     <% date = DateTime::now %>
     <%- content_for :html_title do -%><% end %>
     <%- content_for :top_menu do -%><%= render :partial => 'layouts/main_menu' -%><% end %>
     <%- content_for :controller_menu do -%><% end %>
     <%- content_for :user_menu do -%><%= render :partial => 'layouts/user_menu' -%><% end %>
     <%- content_for :banner_left do -%>&nbsp;<% end %>
     <%- content_for :banner_right do -%><%= _('Last update:') + " " + _( date.localize(get_language_code) ) -%><% end %>
     <%- content_for :copyright do -%>© 2008 by Andreas Altendorfer, Haid, Austria<% end %>
 -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Events: <%= controller.action_name %></title>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed"  href='<%= "#{root_url}/rss" -%>'>
  <%= stylesheet_link_tag 'scaffold' %>
  <% if ! request.env["HTTP_USER_AGENT"].include? "MSIE" %>
    <%= stylesheet_link_tag get_application_layout %>
  <% else %>
    <%= stylesheet_link_tag get_application_layout + '_ie' %>
  <% end %>
  <%= javascript_include_tag 'prototype', 'effects', 'application', 'dragdrop.js' %>
</head>
<body id="newsPage" class="mainPage">
                                
      <div id="webview" style="
                position: absolute;
                top: 150px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 100%;
                width: 100%;
                text-align: center;
                vertical-align: middle;
                z-index: 4;
                display: none;
                background: #333;
                overflow: visible;">
        </div>
        
        <div id="photo_spinner" style="
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          padding-top: 180px;
          opacity: 1.0;
          height: 100%;
          width: 100%;
          text-align: center;
          vertical-align: middle;
          z-index: 5;
          display: none;
          overflow: visible;"><img src=<%= root_url + "/images/spinner.gif" -%>>
        </div>
    
        <div id="container">
                                        
          <div id="header">
            <div id='language_chooser'><%= language_chooser -%></div>
            <div class="banner">&nbsp;</div>               
            <div id="nav">
              <%= yield :top_menu -%>
            </div>
          </div>
          
          <div class="column wide">
             <div id="main_spinner" 
                    style="display:none; text-align: center; float: left; width: 250px; padding-top:150px;padding-bottom:150px;">                    
                   <img src=<%= root_url -%>images/spinner.gif alt=Searching>
             </div>
             <div id="main">
                <%= yield -%>
             </div>
             <div id='controller_menu' class='controller_menu'>
                <%= yield :controller_menu -%>
             </div>
          </div>
          
          <div class="column small" id="newsletter">
            <p class="chapeau"><strong> Search</strong></p>
            <div id='spotlight'><%= render :partial => '/layouts/search_box', 
                :locals => { :show_button => false , :size => 15, :controller => 'postings' } %>
            </div>
            
            <div id="user_menu">            
               <%= yield :user_menu %>
               <br/>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="chapeau"><%= _('World Wide Education!') -%></p>
            <p><%= _('Decide now and enroll in a programme with WORLD WIDE EDUCATION today!') %></p>
          </div>
        
          <hr />
        
          <div id="footer">
            <div class="column wide">
              <p>&copy; 2007&ndash;2008 | All content copyright WWEDU or its respective owners</p> 
            </div>
          </div>
        </div>

</body>
</html>